#Лабораторная работа №4
## Анализ данных пассажиров "Титаника"

1.Создайте DataFarame из файла titanic.csv, в качестве индекса используйте столбец "PassengerId"

In [12]:
import numpy as np
import pandas as pd
df = pd.read_csv('/titanic.csv', index_col='PassengerId')

2.Просмотрите первые 6 строк

In [13]:
print("Первые 6 строк:")
print(df.head(6))
print()

Первые 6 строк:
             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3
6                   0       3

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0
6                                             Moran, Mr. James    male   NaN

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S
6                0      0            330877   8.4583   NaN        Q

3.Выведите описание данных

In [14]:
print("Описание данных:")
print(df.info())
print()
print("Статистическое описание:")
print(df.describe())
print()

Описание данных:
<class 'pandas.core.frame.DataFrame'>
Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB
None

Статистическое описание:
         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

4.Сколько мужчин / женщин находилось на борту?

In [15]:
gender_counts = df['Sex'].value_counts()
print("Количество мужчин и женщин:")
print(gender_counts)
print()

Количество мужчин и женщин:
Sex
male      577
female    314
Name: count, dtype: int64

4.Выведите распределение переменной Pclass (социально-экономический статус) и это же распределение, только для мужчин / женщин по отдельности. Сколько было мужчин 2-го класса

In [17]:
print("Распределение по классам:")
pclass_distribution = df['Pclass'].value_counts()
print(pclass_distribution)
print()

print("Распределение по классам для мужчин:")
men_pclass = df[df['Sex'] == 'male']['Pclass'].value_counts()
print(men_pclass)
print(f"Мужчин 2-го класса: {men_pclass.get(2, 0)}")
print()

print("Распределение по классам для женщин:")
women_pclass = df[df['Sex'] == 'female']['Pclass'].value_counts()
print(women_pclass)
print()

Распределение по классам:
Pclass
3    491
1    216
2    184
Name: count, dtype: int64

Распределение по классам для мужчин:
Pclass
3    347
1    122
2    108
Name: count, dtype: int64
Мужчин 2-го класса: 108

Распределение по классам для женщин:
Pclass
3    144
1     94
2     76
Name: count, dtype: int64

5.Каковы медиана и среднеквадрати́чное отклонение платежей (Fare)? Округлите до 2 десятичных знаков.

In [18]:
fare_median = round(df['Fare'].median(), 2)
fare_std = round(df['Fare'].std(), 2)
print(f"Медиана стоимости билета: {fare_median}")
print(f"Среднеквадратичное отклонение стоимости билета: {fare_std}")
print()

Медиана стоимости билета: 14.45
Среднеквадратичное отклонение стоимости билета: 49.69

6.Правда ли, что люди моложе 30 лет выживали чаще, чем люди старше 60 лет? Каковы доли выживших в обеих группах?

In [19]:
young_survived = df[(df['Age'] < 30) & (df['Survived'] == 1)].shape[0]
young_total = df[df['Age'] < 30].shape[0]
young_survival_rate = young_survived / young_total if young_total > 0 else 0

old_survived = df[(df['Age'] > 60) & (df['Survived'] == 1)].shape[0]
old_total = df[df['Age'] > 60].shape[0]
old_survival_rate = old_survived / old_total if old_total > 0 else 0

print(f"Доля выживших младше 30 лет: {young_survival_rate:.2f} ({young_survived}/{young_total})")
print(f"Доля выживших старше 60 лет: {old_survival_rate:.2f} ({old_survived}/{old_total})")
print(f"Люди моложе 30 лет выживали чаще: {young_survival_rate > old_survival_rate}")
print()

Доля выживших младше 30 лет: 0.41 (156/384)
Доля выживших старше 60 лет: 0.23 (5/22)
Люди моложе 30 лет выживали чаще: True

7.Правда ли, что женщины выживали чаще мужчин? Каковы доли выживших в обеих группах?

In [20]:
women_survived = df[(df['Sex'] == 'female') & (df['Survived'] == 1)].shape[0]
women_total = df[df['Sex'] == 'female'].shape[0]
women_survival_rate = women_survived / women_total

men_survived = df[(df['Sex'] == 'male') & (df['Survived'] == 1)].shape[0]
men_total = df[df['Sex'] == 'male'].shape[0]
men_survival_rate = men_survived / men_total

print(f"Доля выживших женщин: {women_survival_rate:.2f} ({women_survived}/{women_total})")
print(f"Доля выживших мужчин: {men_survival_rate:.2f} ({men_survived}/{men_total})")
print(f"Женщины выживали чаще мужчин: {women_survival_rate > men_survival_rate}")
print()

Доля выживших женщин: 0.74 (233/314)
Доля выживших мужчин: 0.19 (109/577)
Женщины выживали чаще мужчин: True

8.Найдите самое популярное имя среди пассажиров Титаника мужского пола?

In [21]:
def extract_first_name(full_name):
    """Извлекает первое имя из полного имени"""
    if 'Mr.' in full_name:
        parts = full_name.split('Mr. ')
        if len(parts) > 1:
            name_part = parts[1].split(' ')[0]
            # Убираем кавычки и точки
            name_part = name_part.replace('"', '').replace('.', '')
            return name_part
    elif 'Master.' in full_name:
        parts = full_name.split('Master. ')
        if len(parts) > 1:
            name_part = parts[1].split(' ')[0]
            name_part = name_part.replace('"', '').replace('.', '')
            return name_part
    return None

male_passengers = df[df['Sex'] == 'male']
male_names = male_passengers['Name'].apply(extract_first_name).dropna()
most_common_name = male_names.mode()[0] if not male_names.empty else "Не найдено"
print(f"Самое популярное имя среди мужчин: {most_common_name}")
print(f"Количество мужчин с этим именем: {male_names.value_counts().get(most_common_name, 0)}")
print()

Самое популярное имя среди мужчин: William
Количество мужчин с этим именем: 34

9.Как отличается средний возраст мужчин / женщин в зависимости от класса обслуживания? Выберите верные утверждения:

В среднем мужчины 1-го класса старше 40 лет В среднем женщины 1-го класса старше 40 лет Мужчины всех классов в среднем старше женщин того же класса В среднем люди в 1 классе старше, чем во 2-ом, а те старше представителей 3-го класса

In [22]:
age_by_class_sex = df.groupby(['Pclass', 'Sex'])['Age'].mean()
print("Средний возраст по классам и полу:")
for (pclass, sex), mean_age in age_by_class_sex.items():
    print(f"Класс {pclass}, {sex}: {mean_age:.1f} лет")

# Проверка утверждений
men_first_class_age = age_by_class_sex.get((1, 'male'), 0)
women_first_class_age = age_by_class_sex.get((1, 'female'), 0)

print(f"\nПроверка утверждений:")
print(f"Мужчины 1-го класса старше 40 лет: {men_first_class_age > 40}")
print(f"Женщины 1-го класса старше 40 лет: {women_first_class_age > 40}")

# Сравнение среднего возраста мужчин и женщин по классам
men_women_comparison = []
for pclass in [1, 2, 3]:
    men_age = age_by_class_sex.get((pclass, 'male'), 0)
    women_age = age_by_class_sex.get((pclass, 'female'), 0)
    men_women_comparison.append(men_age > women_age)

print(f"Мужчины всех классов старше женщин: {all(men_women_comparison)}")

# Сравнение среднего возраста по классам
class_ages = df.groupby('Pclass')['Age'].mean()
age_decreasing = class_ages[1] > class_ages[2] > class_ages[3]
print(f"Люди в 1 классе старше, чем во 2-ом, а те старше представителей 3-го класса: {age_decreasing}")
print()

Средний возраст по классам и полу:
Класс 1, female: 34.6 лет
Класс 1, male: 41.3 лет
Класс 2, female: 28.7 лет
Класс 2, male: 30.7 лет
Класс 3, female: 21.8 лет
Класс 3, male: 26.5 лет

Проверка утверждений:
Мужчины 1-го класса старше 40 лет: True
Женщины 1-го класса старше 40 лет: False
Мужчины всех классов старше женщин: True
Люди в 1 классе старше, чем во 2-ом, а те старше представителей 3-го класса: True

10.Сравните возраст у спасенных и у погибших пасажиров. Средний возраст погибших выше, верно?

In [23]:
survived_age = df[df['Survived'] == 1]['Age'].mean()
not_survived_age = df[df['Survived'] == 0]['Age'].mean()

print(f"Средний возраст выживших: {survived_age:.1f} лет")
print(f"Средний возраст погибших: {not_survived_age:.1f} лет")
print(f"Средний возраст погибших выше: {not_survived_age > survived_age}")

Средний возраст выживших: 28.3 лет
Средний возраст погибших: 30.6 лет
Средний возраст погибших выше: True